
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forms</title>
    <style>
        a{
        text-decoration:none;
        color:darkred;
        align-items: center;
        font-size:25px;
         padding: 10px 0 10px 10px;

        }
        a:hover{
       color:#45B39D; }
        body{
         background-color:#FADBD8 ;}
    </style>
</head>
<center>
<body>

<button> <a  href="{% url 'store:profile' %}" >profile form</a></button>
<strong><main><p> please add your basic details to your Bio</p></main></strong>
</body></center>

</html>